<section class="px-4 py-4">
  <div class="pb-4 border-b border-gray-300">
    <div>
      <h1 class="text-3xl md:text-4xl lg:text-6xl font-extrabold text-gray-800 mb-2">
        <%= @title %>
      </h1>
      <p class="text-sm md:text-base lg:text-lg text-gray-600">
        <%= @description %>
      </p>
    </div>
  </div>
  <div class="mt-8">
    <div class="pb-10">
    <% if current_user %>
      <%= link_to "Create Quiz", new_quiz_path, class: get_add_btn_class %>
    <%end%>  
    </div>
    <div id="quizzes" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 items-stretch">
      <% @quizzes.each do |quiz| %>
        <%= render "quiz_card", quiz: quiz %>
      <% end %>
    </div>
  </div>
</section>