<section class="px-4 py-8">
  <div class="container mx-auto">
    <div class="mb-8">
      <h1 class="text-3xl md:text-4xl lg:text-6xl font-extrabold text-gray-800 mb-2">
        Quick Quiz Challenge
      </h1>
      <p class="text-sm md:text-base lg:text-lg text-gray-600">
        Test your knowledge with our fun and engaging quizzes! Whether you're brushing up on trivia or challenging yourself with new topics, our quizzes are designed to be both educational and entertaining. Dive in and see how much you can score!
      </p>
    </div>

    <div class="mt-16">
      <% if @quizzes.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
          <% @quizzes.each do |quiz| %>
            <%= render "quizzes/partials/quiz_card", quiz: quiz %>
          <% end %>
        </div>
      <% else %>
        <p class="flex justify-center text-gray-500 text-sm lg:text-xl font-bold">No quizzes found.</p>
      <% end %>
    </div>
  </div>
</section>
