<div id="<%= dom_id quiz %>" >
  <div class="flex flex-col justify-between mb-9 ">
    <p class="break-words font-bold text-3xl">
      <%= quiz.title %>
      <hr>
    </p>
    <p class="break-words roboto-thin">
      <strong>Description:</strong>
      <%= quiz.description %>
    </p>
  </div>
</div>


