

<% flash.each do |type, message| %>
  <% if type == 'alert' %>
    <div id="noticeAlert" role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
      <strong class="block font-medium text-red-800"> <%= message %> </strong>
           <button id="dismissButton" class="text-gray-500 transition hover:text-gray-600">
        <span class="sr-only">Dismiss popup</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  <% else %>
    <div id="noticeAlert" role="alert" class="rounded border-s-4 border-lime-500 bg-lime-50 p-4">
      <strong class="block font-medium text-lime-800"> <%= message %> </strong>
           <button id="dismissButton" class="text-gray-500 transition hover:text-gray-600">
        <span class="sr-only">Dismiss popup</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  <% end %>
<% end %>

<script>
  document.getElementById('dismissButton').addEventListener('click', () => {
    document.getElementById('noticeAlert').style.display = 'none';
  });
</script>
