<% flash.each do |type, message| %>
  <% border_color, bg_color, text_color = case type
                                         when 'alert'
                                           ['border-red-500', 'bg-red-50', 'text-red-800']
                                         when 'notice'
                                           ['border-lime-500', 'bg-lime-50', 'text-lime-800']
                                         when 'error'
                                           ['border-red-500', 'bg-red-50', 'text-red-800']
                                         else
                                           ['border-gray-500', 'bg-gray-50', 'text-gray-800']
                                         end %>

  <div id="noticeAlert" role="alert" class="rounded border-s-4 <%= border_color %> <%= bg_color %> p-4 flex justify-between">
    <strong class="block font-medium <%= text_color %>"> <%= message %> </strong>
    <button id="dismissButton" class="text-gray-500 transition hover:text-gray-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
<% end %>

<script>
  document.querySelectorAll('#dismissButton').forEach(button => {
    button.addEventListener('click', () => {
      button.closest('#noticeAlert').style.display = 'none';
    });
  });
</script>
